---
# tasks file for k8s_rke
- name: Check if RKE binary exists
  stat:
    path: /usr/local/bin/rke
  register: rke_stat

- name: Get the RKE version
  command: /usr/local/bin/rke --version
  register: rke_existing_version
  when: rke_stat.stat.exists
  changed_when: False
  run_once: True
  delegate_to: "{{ rke_node }}"

- name: Download the RKE binary
  get_url:
    url: "{{ rke_binary_url }}"
    dest: /usr/local/bin/rke
    mode: '+rx'
    force: True
  when: not rke_stat.stat.exists or rke_version not in rke_existing_version.stdout
  run_once: True
  delegate_to: "{{ rke_node }}"

- name: Ensure config directory exists
  file:
    path: "{{ _rke_config_dir }}"
    state: directory
    owner: "{{ rke_user }}"
    group: "{{ rke_user }}"
    mode: '0755'
  run_once: True
  delegate_to: "{{ rke_node }}"

- name: Create the cluster configuration file
  template:
    src: cluster.yml.j2
    dest: "{{ _rke_config_dir }}/cluster.yml"
    owner: "{{ rke_user }}"
    group: "{{ rke_user }}"
    mode: '0644'
  register: rke_cluster_config
  run_once: True
  delegate_to: "{{ rke_node }}"

- name: Deploy Kubernetes with RKE
  become: True
  become_user: "{{ rke_user }}"
  shell: |
    set -o pipefail
    /usr/local/bin/rke up | tee rke-up.log
  args:
    executable: /bin/bash
    chdir: "{{ _rke_config_dir }}"
  changed_when: False
  run_once: True
  delegate_to: "{{ rke_node }}"

- name: Check deploy Kubernetes with RKE
  lineinfile:
    path: "{{ _rke_config_dir }}/rke-up.log"
    regexp: 'Finished building Kubernetes cluster successfully'
    state: absent
  check_mode: True
  register: rke_up_successfully
  changed_when: false
  failed_when: rke_up_successfully is failed or not rke_up_successfully.found
  run_once: True
  delegate_to: "{{ rke_node }}"

- name: Ensure $HOME/.kube exists
  file:
    path: ~/.kube
    state: directory
    mode: '0755'
  run_once: True
  delegate_to: "{{ rke_node }}"

- name: Copy kubeconfig to default location
  copy:
    remote_src: True
    src: "{{ _rke_config_dir }}/kube_config_cluster.yml"
    dest: ~/.kube/config
    mode: '0644'
  run_once: True
  delegate_to: "{{ rke_node }}"
