{% if rke_cluster_name is defined %}
cluster_name: {{ rke_cluster_name }}
{% endif %}
{% if rke_kubernetes_version is defined %}
kubernetes_version: {{ rke_kubernetes_version }}
{% endif %}
{% if rke_ignore_docker_version is defined %}
ignore_docker_version: {{ rke_ignore_docker_version }}
{% endif %}
ssh_key_path: {{ _rke_ssh_key_file | default('~/.ssh/id_rsa') }}
addon_job_timeout: {{ rke_addon_job_timeout }}
services:
  kube-api:
    service_cluster_ip_range: {{ rke_service_network_cidr }}
  kube-controller:
    cluster_cidr: {{ rke_cluster_network_cidr }}
    service_cluster_ip_range: {{ rke_service_network_cidr }}
  kubelet:
    cluster_dns_server: {{ rke_service_network_cidr | next_nth_usable(10) }}
{% if hostvars | json_query('*.rke_node_labels | [?"node-role.kubernetes.io/ingress" == `true`]') | length > 0 %}
ingress:
  node_selector:
    node-role.kubernetes.io/ingress: true
{% endif %}
{% if rke_private_registries is defined %}
private_registries:
{% for registry in rke_private_registries %}
  - url: {{ registry.url }}
    user: {{ registry.user }}
    password: {{ registry.password }}
    is_default: false
{% endfor %}
{% endif %}
{% if rke_network_plugin is defined %}
network:
  plugin: {{ rke_network_plugin }}
{% endif %}
{% if rke_dns_provider is defined %}
dns:
  provider: {{ rke_dns_provider }}
{% endif %}
nodes:
{% for host in groups['k8s'] %}
- address: {{ hostvars[host]['ansible_default_ipv4']['address'] }}
  hostname_override: {{ hostvars[host]['ansible_hostname'] | lower }}
  user: {{ rke_user }}
  role:
    {{ hostvars[host]['rke_node_role'] | to_nice_yaml(indent=2) | indent(width=4) }}
{% if hostvars[host]['rke_node_labels'] is defined %}
  labels:
    {{ hostvars[host]['rke_node_labels'] | to_nice_yaml(indent=2) | indent(width=4) }}
{% endif %}
{% if hostvars[host]['rke_node_taints'] is defined %}
  taints:
    {{ hostvars[host]['rke_node_taints'] | to_nice_yaml(indent=2) | indent(width=4) }}
{% endif %}
{% endfor %}
